<div class="row">
  <div class="col-12">
    
<%= form_with(model: task, local: true) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :content, 'タスク' %>
    <%= f.text_field :content, class: 'form-control'  %>
  </div>
  
   <div class="form-group">
     <%= f.label :status, 'ステータス' %>
     <%= f.text_field :status, class: 'form-control' %>  
  </div>
  
  <%= link_to '詳細頁に戻る', task_path(@task), class: 'btn btn-info' %> <%= f.submit '修正を登録する',  class: 'btn btn-primary' %>   
  
<% end %>

  </div>
</div>