<div class="row">
  <div class="col-9">
      
<% if logged_in? %>

<h3>タスク詳細ページ</h3>

<table class="table table-bordered">
    
  <tr>
    <th>ID:</th>
    <td><%= @task.id %></td>
  </tr>
  
  <tr>
    <th>タスク（max50字）：</th>
    <td><%= @task.content %></td>
  </tr>
  
  <tr>
    <th>ステータス（max255字）：</th>
    <td><%= @task.status %></td>
  </tr>
  
</table>

<%= link_to 'タスク一覧に戻る', root_path, class: 'btn btn-info' %>
<%= link_to 'タスクを編集する', edit_task_path(@task), class: 'btn btn-primary'  %>
<%= link_to 'タスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか' }, class: 'btn btn-warning' %>

<% else %>
<%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>

<% end %>

  </div>
</div>